body {
    margin: 0;
    background: #fff transparent;
    color: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}

#canvas {
    border: 1px solid #006600;
    margin: 0 auto;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}