body {
    margin: 0;
    background: #bbb;
    color: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden;
}

#copyright {
    font-family: Arial;
    font-size: 1em;
    color: #000;
    width: 480px;
    margin: 0 auto;
}

#debugBar {
    pointer-events: none;
    font-family: Arial;
    font-size: 0.9em;
    color: #000;
    position: absolute;
    right: 7px;
    top: 7px;
    padding: 7px;
    border: 1px solid #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    border-radius: 7px;
    background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
}

#canvas {
    border: 1px solid #000;
    margin: 0 auto;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}